name: Build Image On Release

on:
  release:
    types: [published]
  pull_request:

jobs:
  call-workflow:
    uses: linuxserver-labs/docker-actions/.github/workflows/build-image.yml@v6
    with:
      repo_owner: ${{ github.repository_owner }}
      app_name: "plextraktsync"
      release_type: "script"
      target-arch: "64"
    secrets:
      scarf_token: ${{ secrets.SCARF_TOKEN }}
